@import url('https://fonts.googleapis.com/css2?family=Muli:ital@0;1&display=swap');

html, body, .grid-container { 
    height: 100%; 
    margin: 0; 
}
* {
    font-family: 'Muli', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header header header header" 
  "new-today total-recovered total-recovered deaths-today" 
  "top-country top-country total-cases total-cases"; 
  border: 1px;
}

.total-recovered { 
    grid-area: total-recovered;
    text-align: center;
    background-color: #0284EF;
    vertical-align: middle;
    color: #524f49;
}

.header { 
    grid-area: header;
    text-align: center;
    vertical-align: middle;
    background-color: #71B5ED;
    color: #524f49;
    font-size: 40px;
}

.new-today { 
    grid-area: new-today;
    text-align: center;
    vertical-align: middle;
    background-color: #1D92F2;
    color: #524f49;
    font-size: 30px;
}

.deaths-today { 
    vertical-align: middle;
    grid-area: deaths-today;
    text-align: center;
    background-color: #0B538E;
    color: #b0aca5;
    font-size: 30px;
}

.top-country { 
    grid-area: top-country;
    text-align: center;
    vertical-align: middle;
    background-color: #045BA3;
    color: #b0aca5;
    font-size: 35px;
}

.total-cases { 
    grid-area: total-cases;
    vertical-align: middle;
    text-align: center;
    background-color: #1D79C4;
    color: #524f49;
    font-size: 35px;
}

.grid-container * { 
    position: relative;
}

h2, h3, h4 {
    border: 0px;
}

.header h5 {
    margin-top: 0px;
}

a {
    color: #0B538E;
}

a:hover {
    color: rgb(4, 49, 87);
}

.total-recovered h2 {
    font-size: 50px;
}

.total-recovered h3 {
    font-size: 35px;
}

h3, h4 {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "header" 
        "new-today"
        "total-recovered"
        "deaths-today" 
        "top-country" 
        "total-cases"; 
        border: 1px;
    }
    .header { 
        grid-area: header;
        text-align: center;
        vertical-align: middle;
        background-color: #71B5ED;
        color: #524f49;
        font-size: 30px;
    }

}